.Caption {
    margin: auto;
    max-width: 16em;
    text-align: center;
}

.MovieTitle {
    margin-block-start: 0.7em;
    margin-block-end: 0.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.RatingRow {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RatingRow * {
    margin: 0 5px;
}

.RatingIcon {
    max-width: 1.3em;
    height: auto;
}