.Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em 0;
}

.RightSection {
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    justify-content: space-between;
}

.Header > h1 {
    margin-block: 0;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-block-start: 0.5em;
}

.YearAndRuntime {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: #827F7F;
}

.YearAndRuntime > span:not(:last-child) {
    margin-right: 1em;
}

.GenreList {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    align-items: center;
    gap: 0.75em;
    flex-wrap: wrap;
}

.PlotSummary > h2 {
    margin-block-end: 0;
}

.PlotSummary > p {
    text-align: justify;
    color: #494949;
    margin-block: 0.5em 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 750px) {
    .Wrapper {
        flex-direction: column;
    }
    .RightSection {
        margin-left: 0;
    }
}