.Wrapper{
    text-align: center;
    margin-top: 3vh;
}

.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.MovieList > * {
    flex: 1 0 17%;
    margin: 10px;
}