.SidePanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    height: 80%;
    width: 20%;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    column-gap: 1.2em;
}

@media only screen and (max-width: 800px), only screen and (max-aspect-ratio: 1919/1080), only screen and (min-aspect-ratio: 1919/1080) and (max-height: 700px){
    .SidePanel {
        height: auto;
        min-width: 20vh;
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 4vh;
        margin: 1em 1em;
    }
}